{% extends "base.html" %}

{% block title %}
{% if user.is_staff %}
دادگان
{% else %}
صفحه نخست
{% endif %}
{% endblock %}

{% block home %}
{% if user.is_staff %}
<a class="active">
    دادگان
</a>
{% endif %}
{% endblock %}

{% block content %}

{% if user.is_staff %}
<div class="page-heading">
    <h1>دادگان</h1>
</div>

<table class="responsive-table">
    <thead>
      <tr>
        <th>#</th>
        <th>نام</th>
        <th>نسخه</th>
        <th>پوشه</th>
        <th>تاریخ</th>
        <th>توسط</th>
    </tr>
    </thead>
    <tbody>
      {% for dataset in latest_assigned_datasets %}
      <tr>
        <td data-label="#">{{ forloop.counter0|add:page_obj.start_index }}</td>
        <td data-label="نام"><a href="/asrann/{{ dataset.id }}/">{{ dataset.name }}</a></td>
        <td data-label="نسخه">{{ dataset.version }}</td>
        <td data-label="پوشه">{{ dataset.data_folder }}</td>
        <td data-label="تاریخ">{{ dataset.add_date }}</td>
        <td data-label="توسط">{{ dataset.added_by }}</td>
    </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% if is_paginated %}
  <div style="">
    <ul class="pagination" style="flex-direction: row; display: flex;">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
</div>
  {% endif %}
{% endif %}
{% endblock %}

{% block extendsidebar %}
{% if user.is_staff %}
{% else %}
<script>
    document.getElementById("mySidenav").style.width = "100%";
    console.log('hi from tlate');
</script>
{% endif %}
{% endblock %}