{% extends 'base.html' %}
{% block title %}ورود{% endblock %}
{% block content %}
<div style=" text-align: center; vertical-align: middle; bottom: 0px;">
    <div style="border: 3px solid #eee; border-radius: 10px; padding: 20px; display: inline-block; text-align: center; vertical-align: middle;" id="card-frame">
        <form method="POST" novalidate>
            {% csrf_token %}
            <h2>ورود</h2>
            {{form.as_p}}
            <input type="submit" value="ورود" />
        </form>
    </div>
</div>

{% endblock content%}