{% extends "base.html" %}

{% block title %}مجمومه داده {{dataset_assigned_records.0.dataset.name }}{% endblock %}

{% block current_dataset %}
{% if user.is_staff %}
<a class="active" style="padding-right: 30px;">{{dataset_assigned_records.0.dataset.name}}</a>
{% endif %}
{% endblock %}

{% block content %}

<div class="page-heading">
    <h1>مجموعه داده {{ dataset_assigned_records.0.dataset.name }}</h1>
</div>

<table class="table table-bordered table-hover" style="width: 80%; margin-right: 50px;">
    <thead>
      <tr>
        <th style="text-align: right;">#</th>
        <th style="text-align: right;">متن</th>
        <th style="text-align: right;">امتیاز</th>
        <th style="text-align: right;">مجموعه داده</th>
        <!--<th style="text-align: right;">تاریخ</th>-->
        <th style="text-align: right;">دیدن</th>
      </tr>
    </thead>
    <tbody>
      {% for record in dataset_assigned_records %}
        <tr>
          <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
          <td>{{ record.transcription }}</td>
          <td>{{ record.score }}</td>
          <!--<td>{{ record.dataset.name }}</td>-->
          <td>{{ record.add_date }}</td>
          <td><a href="/asrann/record/{{ record.id }}/">دیدن</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
   <!--<div>
    {% if all_tagged_by_user %}
        تعداد همه آراء ثبت شده شما: {{ all_tagged_by_user|length }}
    {% else %}
        No athletes.
    {% endif %}
    </div>-->

  {% if is_paginated %}
  <div class="pagination"  style="flex-direction: row; display: flex; margin-right: 50px;">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
  {% endif %}

{% endblock %}