{% extends 'base.html' %}
{% block title %}ثبت نام{% endblock %}
{% block content %}
<div class="container">
    <div class="card-frame">
        <form method="post">
            {% csrf_token %}
            <h2>ثبت نام</h2>
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="ثبت نام">
            <p>حساب کاربری دارید؟ <a href="/asrann/login">وارد شوید</a></p>
        </form>
    </div>
</div>
{% endblock content%}