{% extends "base.html" %}

{% block title %}
گزارش
{% endblock %}

{% block report %}
<a class="active">
  گزارش
</a>
{% endblock %}

{% block content %}

<div class="page-heading">
  <h1>گزارش</h1>
</div>
<div clas="container">
  <div style="text-align: center;">
    <div style="text-align: right; font-family: Tahoma; font-size: 18px; display: inline-block;">
      <ul>
        <li>همه برچسب‌های شما: {{ your_records_count }}</li>
        {% if user.is_staff and first_page %}
        <li>مجموعه همه رکوردها: {{combined_records_count}}</li>
        {% for score, c in distinct_scores_all.items %}
        <li>تعداد رکورد ها با اسکور {{score}}: {{c}}</li>
        {% endfor %}
      </ul>
      به تفکیک دادگان
      <ul>
        {% for active_dataset in datasets_features %}
        <li>مجموعه دادگان: <b>{{active_dataset.active_dataset}}</b></li>
        <ul>
          <li>تعداد رکوردها: {{active_dataset.active_dataset_records}}</li>
          {% for score, c in active_dataset.score_list.items %}
          <li>تعداد رکورد ها با اسکور {{score}}: {{c}}</li>
          {% endfor %}
        </ul>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
  {% if user.is_staff %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>متن</th>
          <th>up</th>
          <th>down</th>
          <th>score</th>
      </tr>
      </thead>
      <tbody>
        {% for vote in group_by_vote %}
        <tr>
          <td data-label="#">{{ forloop.counter0|add:group_by_vote.start_index }}</td>
          <td data-label="متن">{{ vote.transcription }}</td>
          {% if vote.up_votes > 0 %}
          <td  data-label="up"style="background: #28B463 ">{{vote.up_votes}}</a></td>
          {% else %}
          <td></td>
          {% endif %}
          {% if vote.down_votes > 0 %}
          <td  data-label="down"style="background: #E74C3C">{{vote.down_votes}}</td>
          {% else %}
          <td></td>
          {% endif %}
          <td data-label="score">{{vote.score}}</td>
          <!--{% if vote.vote__vote == None %}
            <td style="background: #ccefee">{{vote.vote_count}}</td>
          {% else %}
            <td></td>
          {% endif %}-->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <span class="step-links">
        {% if group_by_vote.has_previous %}
            <a href="?page=1">« first</a>
            <a href="?page={{ group_by_vote.previous_page_number }}">قبلی</a>
        {% endif %}
        <span class="current">
            صفحه {{ group_by_vote.number }} از {{ group_by_vote.paginator.num_pages }}.
        </span>
        {% if group_by_vote.has_next %}
            <a href="?page={{ group_by_vote.next_page_number }}">بعدی</a>
            <a href="?page={{ group_by_vote.paginator.num_pages }}">last »</a>
        {% endif %}
    </span>
  </div>

  {% endif %}
</div>
{% endblock %}