{% extends "base.html" %}

{% block title %}بررسی: {{ record.transcription }}{% endblock %}

{% block current_dataset %}
{% if user.is_staff %}
<a href="/asrann/{{record.dataset.id}}" style="padding-right: 20px;">مجموعه {{ record.dataset.name }}</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="page-heading">
    <h1>بررسی
        {% if not user.customuser.user_tested %}
            (تست)
        {% endif %}
    </h1>
    {% if not user.customuser.user_tested %}
        <span>{{remained_tests}} تست باقی مانده است</span>
    {% endif %}
</div>
<div class="container" style="text-align: center; padding: 20px;">
<form action="vote/" method="post" id="theform">
    {% csrf_token %}
        <div id="card-frame" class="card" style="border: 3px solid #eee; border-radius: 10px; padding: 20px; display: inline-block; text-align: center; max-width: 100%; margin: 0 auto;">
            <h3 id="record.transcription" class="transcription" style="word-wrap: break-word;">{{ record.transcription }}</h3>
            <audio controls id="player" autoplay dir="rtl">
                <source src="/asrann/record/{{record.id}}/audio/" type="audio/ogg">
                <source src="/asrann/record/{{record.id}}/audio/" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio><br />
            {% if error_message %}
            <p class="error" style="color: red; font-weight: bold;">
                <strong>{{ error_message }}</strong>
            </p>
            {% endif %}
            <div class="vote-now" style="zoom: 125%; line-height: 16px; display: inline-block;">
                {% if vote <= -1 %}
                <li>
                <input type="radio" name="vote" id="downvote" value="down" checked onClick="goToNext('reject');checkVote('reject');">
                <label for="downvote" style="width: 100%; border-right: 10px solid #E74C3C; text-align: center;">رد</label>
                </li>
                {% else %}
                <li>
                <input type="radio" name="vote" id="downvote" value="down" onClick="goToNext('reject');checkVote('reject');">
                <label for="downvote" style="width: 100%; border-right: 10px solid #E74C3C; text-align: center;">رد</label>
                </li>
                {% endif %}
                {% if vote >= 1 %}
                <li>
                <input type="radio" name="vote" id="upvote" value="up" checked onClick="goToNext('accept');checkVote('accept');"/>
                <label for="upvote" style="width: 100%; border-right: 10px solid #28B463; text-align: center;">قبول</label>
                </li>
                {% else %}
                <li>
                <input type="radio" name="vote" id="upvote" value="up" onClick="goToNext('accept');checkVote('accept');" />
                <label for="upvote" style="width: 100%; border-right: 10px solid #28B463; text-align: center;" >قبول</label>
                </li>
                {% endif %}
            </div>
        </div>
        <!--<div style="float: center;">
            <a id="prevLink" href="prev/" style="float: right; font-family: Tahoma; font-size: 15px; font-weight: bold;">قبلی</a>
            <a id="nextLink" href="next/" style="float: left; font-family: Tahoma; font-size: 15px; font-weight: bold;">بعدی</a>
        </div>-->
    <input type="submit" value="Vote" style="display: none;">
    <script>

        {% if not user.customuser.user_tested %}
            var tested = false;
            var remained_tests = parseInt("{{remained_tests}}")
            {% if vote_meter %}
            var vote_meter = parseInt("{{ vote_meter }}");
            {% endif %}
        {% else %}
            var tested = true;
        {% endif %}

        function checkVote(v){
            {% if not user.customuser.user_tested %}
                if( (v === 'accept' && vote_meter > 0) || (v === 'reject' && vote_meter < 0)){
                    //alert('Correct selection!')
                    if (remained_tests === 1){
                        alert('تبریک!\nمرحله آزمایشی با موفقیت پایان یافت.\nاز اینجا به بعد برچسب‌زنی شروع می‌شود.!');
                    }
                    document.getElementById('theform').submit();
                }
                else{
                    //alert('Wrong selection!')
                    var notification = document.getElementById("notification");
                    notification.style.display = "block"; // Show the notification
                    setTimeout(function() {
                        notification.style.display = "none";
                    }, 2000);
                }
            {% else %}
                document.getElementById('theform').submit();
            {% endif %}
        }
        function goToNext(action){
            if(action === "accept"){
                document.getElementById("card-frame").style.borderColor = "#28B463";
                document.getElementById("card-frame").style.borderWidth = "3px";
            }else{
                document.getElementById("card-frame").style.borderColor = "#E74C3C";
                document.getElementById("card-frame").style.borderWidth = "3px";
            }
        }
        document.addEventListener('keyup', function(event) {
            switch (event.key) {
                case "ArrowLeft":
                    console.log('left');
                    document.getElementById('nextLink').click()
                    break;
                case "ArrowRight":
                    console.log('right');
                    document.getElementById('prevLink').click()
                    break;
                case "Enter":
                    console.log('enter');
                    document.getElementById('upvote').click();
                    break;
                case "Escape":
                    console.log('esc');
                    document.getElementById('downvote').click()
                    break;
                case " ":
                    console.log('space');
                    player = document.getElementById('player')
                    if(player.paused){
                        player.play()
                    }
                    else{
                        player.pause()
                    }
                    break;
            }
            
        });
    </script>
</form>
</div>
<div id="notification" class="notification">
    گزینه اشتباه انتخاب شده است!
</div>
<style>
    @media (max-width: 768px) {
        #card-frame {
            padding: 10px;
        }
    }
    </style>
{% endblock %}
