{% extends "base.html" %}

{% block title %}فعالیت‌های شما{% endblock %}

{% block tagged %}
<a class="active">فعالیت شما</a>
{% endblock %}

{% block content %}
<div class="page-heading">
    <h1>فعالیت شما</h1>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th style="text-align: right;">#</th>
        <th style="text-align: right;">متن</th>
        <th style="text-align: right;">رای</th>
        <th style="text-align: right;">مجموعه داده</th>
        <th style="text-align: right;">تاریخ</th>
        <th style="text-align: right;">دیدن</th>
      </tr>
    </thead>
    <tbody>
      {% for vote in all_tagged_by_user %}
        <tr>
         <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
          <td>{{ vote.record.transcription }}</td>
          <td style="background: {% if vote.vote == 1 %} #28B463 {% else %} #E74C3C {% endif %}"></a></td>
          <td>{{ vote.record.dataset.name }}</td>
          <td>{{vote.vote_date}}</td>
          <td><a href="/asrann/{{vote.record.dataset.id}}/record/{{ vote.record.id }}/">دیدن</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
   <!--<div>
    {% if all_tagged_by_user %}
        تعداد همه آراء ثبت شده شما: {{ all_tagged_by_user|length }}
    {% else %}
        No athletes.
    {% endif %}
    </div>-->

  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">« اولین</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
        {% endif %}
        
        <li class="page-item disabled"><span class="page-link">صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}</span></li>
        
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">آخرین »</a></li>
        {% endif %}
    </ul>
  </nav>
  {% endif %}
{% endblock %}